/* App.css */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* background-color: #272727; */
}
.authClass{
  /* From https://css.glass */
background: rgba(23, 20, 20, 0.58);
border-radius: 16px 0px 0px 16px;
box-shadow: 0 4px 30px 1px goldenrod ;
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(23, 20, 20, 0.56);
}
@media screen and (max-width: 600px) {
  .authClass{
    box-shadow: none;
    border-radius: 0%;
  }
}


.listItem:hover {
  color: goldenrod !important;
}
.listItem:hover .listIcon{
  color: goldenrod !important;
}


.menuButon{
  color: white !important;
}
.menuButon:hover{
  color: goldenrod !important;
  background-color: transparent !important;
}
.MuiButton-outlined{
text-transform: capitalize !important;
}
.MuiButton-outlined:hover{
  background-color: transparent !important;
  color: rgb(255, 255, 255) !important;
  border-color: white !important;
}
 /* .Mui-focused{
  color: rgb(255, 255, 255) !important;
  border-color: white !important;
} */

.MuiTableCell-body{
  min-width: 150px;
  margin: 0 !important;
  padding: 0 !important;
}
.MuiOutlinedInput-root{
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
.MuiTable-root{
  padding-left: 500px !important;
}